/*
Theme Name: MUJI Theme
Theme URI: 
Description: MUJI Theme
Author: Terry Morgan
Author URI:
Version: 1
*/

/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/

html, body {
    height:100%;
}

body {
    font-family: 'Century Gothic', sans-serif;
    font-size: 13px;
    margin: 0;
}

a {
    color: #000;
    -webkit-transition: all .35s ease-in-out !important;
       -moz-transition: all .35s ease-in-out !important;
        -ms-transition: all .35s ease-in-out !important;
         -o-transition: all .35s ease-in-out !important;
            transition: all .35s ease-in-out !important;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #d90080;
}

.container {
    position: relative;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    max-width: 1170px;
}

.row {
    padding-left: 0;
    padding-right: 0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    overflow: hidden;
}

.content {
    height: auto;
}

#site-wrapper {
    height: 100%;
    position: relative;
}

.shadow {
    -moz-box-shadow:    inset 0 0 10px #1D1D1D;
   -webkit-box-shadow: inset 0 0 10px #1D1D1D;
   box-shadow:         inset 0 0 10px #1D1D1D;
}

.hide-scrollbar {
    overflow: hidden;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}

.about-us-gallery .filter-mask {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(140, 1, 82, 0.85);
    -webkit-animation-duration: .3s;
       -moz-animation-duration: .3s;
        -ms-animation-duration: .3s;
         -o-animation-duration: .3s;
            animation-duration: .3s;
}

#search-modal {
    background-color: #cc0099;
}

.search-wrapper {
    margin: 5px;
    overflow: hidden;
    display: none;
}

.search-wrapper .close-button {
    height: 45px;
    width: 45px;
    display: inline-block;
    float: left;
    text-align: center;
    font-size: 20px;
    background-color: #fff;
    line-height: 45px;
    cursor: pointer;
    margin-right: 5px;
}

.search-wrapper .search-form input[type="search"] {
    border: 1px solid #ccc;
    height: 45px;
    width: calc( 100% - 50px );
    padding: 0 10px;
    font-size: 15px;
}

/* ############### HEADER ################### */


#modal-popup {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    width: 100%;
    background-color: #d90080;
    z-index: 98;
    -webkit-animation-duration: .5s;
}

.top-breadcrumb {
    float: left;
    background-color: #fff;
    height: 45px;
}

.top-breadcrumb ul {
    list-style-type: none;
    padding: 0;
    font-size: 22px;
}

.top-breadcrumb ul li {
    float: left;
    line-height: 45px;
}

.top-breadcrumb ul li:first-child a {
    border-left: 0;
}
.top-breadcrumb ul a {
    color: #000;
    padding: 0 15px;
    border-left: 1px solid #000;
}

.top-breadcrumb ul a:hover,
.top-breadcrumb ul a:focus {
    color: #d90080;
    font-weight: bold;
}

/* ############### HOMEPAGE ################### */

.header {
    position: absolute;
    top: 50px;
    width: 100%;
    padding: 0 60px;
    left: 0px;
    z-index: 99;
}

.header .top-wrapper{
    float: left;
}

.header .menu-button {
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    background-color: #fff;
    font-size: 21px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.main-menu {
    margin-top: 110px;
}
.main-menu ul {
    list-style-type: none;
    margin-left: 50px;
    font-size: 61px;
    font-weight: bold;
}

.main-menu ul li a {
    color: #000;
}

.main-menu ul li a:hover,
.main-menu ul li a:focus {
    text-decoration: none;
    color: #fff;
}

.logo-wrapper {
    float: right;
}

.header .menu-button:hover {
    color: #e00081;
}

.header .menu-button:active,
.header .menu-button:focus {
    color: #a40a63;
}

.slider-wrapper {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    min-height: 480px;
    width: 100%;
}



.slider-wrapper .title {
    font-weight: bold;
    font-size: 78px;
    color: #fff;
}

.slider-wrapper .title-smaller {
    font-weight: bold;
    font-size: 62px;
    color: #fff;
}

.slider-wrapper .title-light {
    font-weight: 400;
    font-size: 48px;
    color: #fff;
}

/* ############### CONTENT ################### */

.content .thumb-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}

.content .content-wrapper {
    padding: 50px 80px 150px 80px;
}

.content.single .content-wrapper .heading .strong {
    font-weight: bold;
    font-size: 59px;
    color: #E1017E;
}

.content.single .content-wrapper .heading {
    font-size: 38px;
    line-height: 48px;
    padding-left: 20px;
}

.content.single .content-wrapper .description {
    font-size: 15px;
}

.content-wrapper.full-width .heading {
    padding-left: 80px;
    padding-right: 80px;
}
.content-wrapper.full-width {
     padding-right: 0;
    padding-left: 0;
}

.content.page .heading .strong {
    color: #E00182;
}

.content.page .heading .light {
    font-size: 55px;
    font-weight: 400;
}

.content.page .heading {
    font-size: 68px;
    line-height: 80px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
}

.content img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="email"] {
    border: 0;
    background-color: #ccc;
    height: 45px;
    width: 550px;
    padding: 0 15px;
    font-weight: bold;
    font-size: 14px;
    color: #000;
}

.wpcf7 input[type="submit"] {
    border: 0;
    background-color: #DF0081;
    color: #fff;
    width: 550px;
    height: 45px;
    text-align: left;
    padding-left: 10px;
}

.wpcf7 input[type="submit"]:hover {
    border: 1px solid #DF0081;
    background-color: #AD0365;
    color: #fff;
}

.wpcf7 textarea {
    width: 550px;
    height: 180px;
    background-color: #ccc;
    border: 0;
    color: #000;
    padding: 15px;
    font-weight: bold;
}

.content .about-us-gallery .item .title {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 35px;
    color: #fff;
    font-weight: bold;
}
.content .about-us-gallery .item {
    padding: 0;
    margin: 15px;
    width: 490px;
    height: 325px;
}
.content .about-us-gallery .item .thumb {
    margin: 0;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}

#wall .people {
    width: 325px;
    height: 325px;
    padding: 10px;
    position: relative;
}



#wall .people.lg {
    width: 650px;
    height: 650px;
}

#wall .people .avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;
}

#wall .people .name {
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
}

#wall .people .mask-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    height: 50%;
    width: 100%;
    display: none;
}

#wall .people .mask-wrapper .mask-content {
    height: 100%;
    background-color: rgba(140, 1, 82, 0.85);
}

#wall .people .mask-content .description {
    color: #fff;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    -webkit-animation-duration: .2s;
       -moz-animation-duration: .2s;
        -ms-animation-duration: .2s;
         -o-animation-duration: .2s;
            animation-duration: .2s;
}

#wall .people.lg .mask-content .description {
  width: 50%;
  padding-top: 25px;
  float: right;
}

#wall .people .mask-content .description .job {
  display: block;
  font-weight: bold;
  font-size: 14px;
}

/* ############### FOOTER ################### */

.footer {
    width: 100%;
    display: block;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
    left: 0;
    z-index: 97;
}

.footer .share-group .share-button-list {
    margin-top: 15px;
}

.footer .share-group .share-button-list ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.footer .share-group .share-button-list ul li {
    float: left;
    margin: 0 10px;
}

.footer .share-group .share-button-list .share-button {
    width: 35px;
    height: 35px;
    background-color: #DF0081;
    display: block;
    border-radius: 50%;
    line-height: 35px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.footer .share-group .share-button-list .share-button:hover,
.footer .share-group .share-button-list .share-button:focus {
  background-color: #fff;
  color: #DF0081;
}

.footer .share-group {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer .share-group .title {
    font-size: 16px;
}

@media screen and (min-width: 992px) {

}

@media screen and (max-width: 991px) {

}

@media screen and ((min-width: 768px) and (max-width: 991px)) {

}

@media screen and (max-width: 767px) {

    .header {
        top: 15px;
        padding: 0 20px;
    }
    
    .logo-wrapper {
        float: left;
        margin-bottom: 10px;
    }

    .main-menu ul {
        font-size: 42px;
        margin-left: 0;
        padding-left: 20px;
    }

    .top-breadcrumb ul {
        font-size: 18px;
    }

    .top-breadcrumb ul a {
        padding: 0 5px;
    }

    .main-menu {
        margin-top: 130px;
    }

    .content .thumb-wrapper {
        height: calc(400px - 10em);
    }

    .content .content-wrapper {
        padding: 30px 20px 150px 20px;
    }

    .content.single .content-wrapper .heading .strong {
        font-size: 42px;
    }

    .content.single .content-wrapper .heading {
        font-size: 26px;
        padding-left: 0;
        line-height: 38px;
    }

    .content.page .heading {
        font-size: 36px;
        line-height: 44px;
    }

    .wpcf7 input[type="text"],
    .wpcf7 input[type="tel"],
    .wpcf7 input[type="email"] {
        width: 100%;
    }

    .wpcf7 textarea {
        width: 100%;
    }

    .wpcf7 input[type="submit"] {
        width: 100%;
    }

    .content .about-us-gallery .item {
        width: calc(100% - 30px);
        height: auto;
    }

    #wall .people.lg {
        width: 100%;
        min-height: 450px;
    }

    #wall .people {
        width: 100%;
        min-height: 320px;
    }

    #wall .people.lg .mask-content .description {
        width: 90%;
    }

    .search-wrapper {
        margin-right: 5px;
        margin-left: 5px;
    }
    
}
